$top-nav-a:  #656263;
$light-grey: #b4b3b3;
$smoke: #f2f2f2;
$filter-grey: #d8d7d7;
$dark-green: #517286;
$dark-grey: #888687;
$monument-color: #df2624;
$document-color: #36a496;

/* sorting colors */
$active-filter: #222222;

$obj-bg: #e5e5e5;
/* default ZURB reminder
 $primary-color: #517286;
 $secondary-color: #888687;
 $alert-color: #df2624;
 $success-color: #36a496;

*/