.search-ico {
	background-image: url(../svg/search_ico.svg);
}
.login-ico {
	background-image: url(../svg/login_ico.svg);
}
.mycats-ico {
	background: url(../svg/mycats_ico.svg);
}
.set-ico {
	background: url(../svg/set_ico.svg);
}
.mon-ico {
	background-image: url(../svg/mon_ico.svg);
}
.mon-off-ico {
	background-image: url(../svg/mon_off_ico.svg);
}
.color-mon-ico {
	background-image: url(../svg/color_mon_ico.svg);
}
.color-doc-ico {
	background-image: url(../svg/color_doc_ico.svg);
}
.doc-ico {
	background-image: url(../svg/doc_ico.svg);
}
.doc-off-ico {
	background-image: url(../svg/doc_ico_off.svg);
}
.o-footer-ico {
	background-image: url(../svg/otwarte_footer_logo.svg);
}
.cc-footer-ico {
	background-image: url(../img/cc_footer_logo.png);
}
.nck-footer-ico {
	background-image: url(../svg/nck_footer_logo.svg);
}
.wuoz-footer-ico {
	background-image: url(../img/wuoz_footer.png);
}
.mkidn-footer-ico {
	background-image: url(../svg/mkidn_footer_logo.svg);
}
.go-ico {
	background-image: url(../svg/go_ico.svg);
}
.ex-ico {
	background-image: url(../svg/close_popup.svg);
}
.del-all-ico {
	background-image: url(../svg/del_all_ico.svg);
}
.fav-star-ico {
	background-image: url(../svg/fav_stars_ico.svg);
}
.alreadyfav {
	background-image: url(../svg/fav_stars_ico_in.svg);
}
.alreadyfav-white {
	background-image: url(../svg/fav_stars_ico_in_white.svg);
}
.ar-prev {
	background-image: url(../svg/slider_left_ar.svg);
}
.ar-next {
	background-image: url(../svg/slider_right_ar.svg);
}
.ar-prev-green {
	background-image: url(../svg/slider_left_ar_green.svg);
}
.ar-next-green {
	background-image: url(../svg/slider_right_ar_green.svg);
}
.ar-sort-ico {
	background-image: url(../svg/sort_down.svg);
}
.down-active {
	background-image: url(../svg/sort_down_active.svg);
}
.up-active {
	background-image: url(../svg/sort_up_active.svg);
}
.trash-ico {
	background-image: url(../svg/trash_ico.svg);
}
.zip_ico {
	background-image: url(../svg/zip_ico.svg);
}
.pdf_ico {
	background-image: url(../svg/file_ico.svg);
}
.acc-close {
	background-image: url(../svg/acc_close.svg);
}
.acc-open {
	background-image: url(../svg/acc_open.svg);
}
.info-icon {
	background-image: url(../svg/info_icon.svg);
}
.info-close {
	background-image: url(../svg/info_close.svg);
}


//docs icons
.pics {
	background-image: url('../svg/mondoc_types/pics.svg');
}
.white-card {
	background-image: url('../svg/mondoc_types/white_card.svg');
}
.green-card {
	  background-image: url('../svg/mondoc_types/green_card.svg');
}
.techs {
	background-image: url('../svg/mondoc_types/techs.svg');
}
.science {
	background-image: url('../svg/mondoc_types/science.svg');
}
.parks {
	background-image: url('../svg/mondoc_types/science.svg');
}

//monuments icons

.engineer {
	background-image: url(../svg/mondoc_types/engineer.svg);
}
.cementary {
	 background-image: url(../svg/mondoc_types/cementary.svg);
}
.willa {
	background-image: url(../svg/mondoc_types/willa.svg);
}
.hut {
	background-image: url(../svg/mondoc_types/hut.svg);
}
.house {
	background-image: url(../svg/mondoc_types/house.svg);
}
.military {
	background-image: url(../svg/mondoc_types/military.svg);
}
.industry {
	background-image: url(../svg/mondoc_types/industry.svg);
}
.sacred {
	 background-image: url(../svg/mondoc_types/sacred.svg);
}
.sports {
	background-image: url(../svg/mondoc_types/sports.svg);
}
.public {
	background-image: url(../svg/mondoc_types/public.svg);
}
.architecture_small {
	background-image: url(../svg/mondoc_types/architecture_small.svg);
}
.park_place {
	background-image: url(../svg/mondoc_types/park_place.svg);
}
.urban {
	background-image: url(../svg/mondoc_types/urban.svg);
}
